<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <meta charset="UTF-8"/>
    <th:block th:include="layout/headGlobal :: head"/>
    <th:block th:include="layout/headDataTables :: head"/>
    <title>Limites</title>
</head>
<body>
<div class="container_48">
    <div class="contenedor">
        <div class="contenedor-form">
            <div class="titulo centrar-objeto btn-inline-set">
                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                        onclick="parent.regresarMenuFrecuente();" type="submit" role="button" aria-disabled="false">
                    <span class="ui-button-icon-left ui-icon ui-c ui-icon-arrow-1-w"></span>
                    <span class="ui-button-text ui-c">ui-button</span></button>
                <div>
                    <h2 class="gris-b">Limites Descubiertos/Excedidos</h2>
                </div>
            </div>
        </div>
        <div class="contenedor-campos">

            <div class="row margin-left-2pct">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-2 margin-top-0-8">
                            <label for="txtAcuerdo" class="pull-right text-nowrap">Acuerdo:</label>
                        </div>
                        <div class="col-md-5 no-padding-left">
                            <input type="number" id="txtAcuerdo" maxlength="30" min="0" class="form-control soloNumeros" onpaste="return isNumber(event)" onkeydown="return isNumber(event)" ondrop="return isNumber(event)">
                        </div>
                        <div class="col-md-1 no-padding-left">
                            <form method="POST" >
                            <button type="button" class="btn btn-primary btn-circle btn-xs" id="btnBusquedas1" onclick="post('http://172.26.9.98:7171/BsfPortalSucursalesCriteriosBusqueda/?BSFOPERADOR=ig6bpA59BmxGAIwqUPcX5SRRxl3om/4vKuu6jFTBSvU5gKmGr1uJw8UtEY0a81/ln/qt7jxIHGE9hcv8i60x9m+mg/Z4N+1nx0qlofT0nH74sfNW6qh2hEr79LhhvpL0HJLnLxUccp1vLRfvIQwT4hDSnsEmIikTfZaBccBbW95CWNSBgFmGaQIeGwRQER0c2nnY9BJSbapsBU3FuBk6axOITlskSr3SV6L32rGYmpg6KAEkZqCMXf9u8W+jAWJBcVWLPYBlNSzvMjtQBFR7jM5ua2UovoJGblKp850LHtCS8cn9LEBamDxha4G81DGmmZzy/a+nTuj24xOakcP0XO3s6eZsEy/VBKjYxZ89eoM9iLFKpMD5vzDi3CdV2UBxo2zjCUaSDoQL/G+c7VNDjFrXPnKqZ+tIvSFjdwdbeVG2+jCqTWHq5AOlTsiQvrRS0tteHzsPYBKhn6sMV9mVXaUndWOQD6YqqE/CBGOQ8Z9VbvJGntkYYBNSlJ99YU9924tVv5ciycxzIb7my85Rg1BrByuFrIrNbUN7pc9+d4UQ2ezLPShxzw23wQQ6691jklykMEMklA3tEoANh41a2A==');">
                                <i class="fa fa-search fa-16" aria-hidden="true"></i><i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                            </form>
                        </div>
                        <div class="col-sm-2 no-padding-left">
                            <input id="txtCentro" type="number" maxlength="10" class="form-control" disabled placeholder="Centro">
                        </div>
                        <div class="col-sm-2 no-padding-left">
                            <input id="txtMoneda" type="text" maxlength="20" class="form-control" disabled placeholder="Moneda">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-2 margin-top-0-8">
                            <label for="txtPrimerTitular" class="pull-right text-nowrap">Primer Titular:</label>
                        </div>
                        <div class="col-md-10 no-padding-left">
                            <input type="text" id="txtPrimerTitular" class="form-control" disabled>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-2 margin-top-0-8">
                            <label class="pull-right text-nowrap">Tipo Selección:</label>
                        </div>
                        <div class="col-md-4 no-padding-left">
                            <select class=" selectpicker form-control" data-size="5"
                                    id="selectTipoSeleccion" data-live-search="true"
                                    data-maxOptions="true">
                                <option value="-1">SELECCCIONE</option>
                                <option value="1">ACTIVO</option>
                                <option value="2">INACTIVO</option>
                                <option value="3">VENCIDO</option>
                                <option value="4">CANCELADO</option>
                                <option value="5">TODOS</option>
                            </select>
                        </div>
                        <div class="col-md-2 margin-top-0-8">
                            <label class="pull-right text-nowrap">Moneda Límite:</label>
                        </div>
                        <div class="col-md-4 no-padding-left">
                            <select class=" selectpicker form-control" data-size="5"
                                    id="selectMonedas" data-live-search="true"
                                    data-maxOptions="true">
                                <option value="-1">SELECCCIONE</option>
                                <option th:each="selectMonedas : ${catalogoMonedas}"
                                        th:text="${selectMonedas.codigo}"
                                        th:data-subtext="${selectMonedas.descripcion}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-2 text-center">
                    <button type="button" class="btn btn-primary btn-xl btnBuscador" id="btnBusquedas" onclick="consultarLimites();">
                        <h3>
                            <i class="fa fa-search" style="font-size: 55px;"></i>
                        </h3>
                        <h4>Consultar</h4>
                    </button>
                </div>
            </div>
            <div class="col-sm-10 margin-top-0-8">
                <table id="tablaAutorizacion" class="table table-responsive table-bordered width-100 margin-top-0-8">
                    <thead>
                    <tr>
                        <th class="col-sm-2">Tipo Autorización</th>
                        <th class="col-sm-1">Situación</th>
                        <th class="col-sm-1">Importe</th>
                        <th class="col-sm-1">Fecha Alta</th>
                        <th class="col-sm-1">Fecha Vto</th>
                        <th class="col-sm-1">C Operaciones</th>
                        <th class="col-sm-1">Concepto</th>
                        <th class="col-sm-1">Número de Autorización</th>
                        <th class="col-sm-1">Empleado</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="col-sm-2 botones-accion">
                <div class="pt-10">
                    <button type="button" id="nuevoLimite" class=" form-control btn btn-primary btn-sm"
                            onclick="nuevoLimite()" disabled>Nuevo Límite
                    </button>
                </div>
                <div class="botones-accion">
                    <!--<button type="button" id="seleccionarLimite" class=" form-control btn btn-primary btn-sm"-->
                            <!--onclick="seleccionarLimite()">Seleccionar-->
                    <!--</button>-->
                </div>
            </div>
        </div>

    </div>


</div>
</div>

<th:block th:include="limites/fragments/seleccionar-limite :: modalSeleccionarLimite"/>
<script th:inline="javascript" th:src="@{/js/limites/vista-limites.js}"></script>
<script th:inline="javascript">var bsfOperador=[[${bsfOperador}]];</script>
<script th:inline="javascript">var catalogoOperaciones=[[${catalogoOperaciones}]];</script>
</body>
</html>