<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link th:href="@{/css/primefaces.css}" rel="stylesheet" />
    <link th:href="@{/css/Bootstrap/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/Bootstrap/bootstrap-datepicker.css}" rel="stylesheet"/>
    <link th:href="@{/css/Bootstrap/bootstrap-select.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/theme.css}" rel="stylesheet" />
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    <link th:href="@{/css/Bootstrap/icheck-bootstrap.css}" rel="stylesheet">
    <script th:src="@{/js/Jquery/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/docxToPdf/jszip.js}"></script>
    <script th:src="@{/js/docxToPdf/jszip-utils.js}"></script>
    <script th:src="@{/js/docxToPdf/docxtemplater-latest.min.js}"></script>
    <script th:src="@{/js/docxToPdf/FileSaver.js}"></script>
    <script th:src="@{/js/docxToPdf/DocxReader.js}"></script>
    <script th:src="@{/js/primefaces.js}"></script>
    <script th:src="@{/js/primefaces-extensions.js}"></script>
    <script th:src="@{/js/utilidades/Mensajes.js}"> </script>
    <script th:src="@{/js/Bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/Bootstrap/bootbox.min.js}"> </script>
    <script th:src="@{/js/Bootstrap/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/Gral.js}"> </script>



</head>
<body>

</body>
</html>